[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=ubuntu-weather-app %u
Icon=/snap/ubuntu-weather-app/current/meta/gui/icon.png
Name=Weather
Name[aa]=Deesaasa
Name[am]=የ አየር ንብረት
Name[ar]=الطقس
Name[ast]=Meteoroloxía
Name[be]=Надвор’е
Name[br]=Amzer
Name[bs]=Vrijeme
Name[ca]=El temps
Name[cs]=Počasí
Name[cy]=Tywydd
Name[da]=Vejret
Name[de]=Wetter
Name[el]=Καιρός
Name[en_AU]=Weather
Name[en_GB]=Weather
Name[eo]=Vetero
Name[es]=Meteorología
Name[fa]=آب و هوا
Name[fi]=Sää
Name[fo]=Veðrið
Name[fr]=Météo
Name[fr_CA]=Météo
Name[gd]=An aimsir
Name[gl]=O Tempo
Name[he]=מזג אוויר
Name[hr]=Vrijeme
Name[hu]=Időjárás
Name[it]=Meteo
Name[ja]=天気
Name[ko]=날씨
Name[lv]=Laikapstākļi
Name[my]=ရာသီဥတု
Name[nb]=Vær
Name[nl]=Weer
Name[oc]=Metèo
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[ro]=Vremea
Name[ru]=Погода
Name[shn]=ၾိင်ႈၾႃ့
Name[sk]=Počasie
Name[sl]=Vreme
Name[sr]=Време
Name[sv]=Väder
Name[ta]=வானிலை
Name[te]=వాతావరణం
Name[tr]=Hava Durumu
Name[ug]=ھاۋا رايى
Name[uk]=Погода
Name[uz]=Ob-havo
Name[vi]=Thời tiết
Name[zh_CN]=天气
Name[zh_TW]=天氣
Comment=A weather forecast application for Ubuntu with support for multiple online weather data sources
Comment[am]=ለ ኡቡንቱ የ አየር ንብረት መተግበሪያ በርካታ የ አየር ንብረት ዳታ ምንጮች በመስመር ላይ ይደገፋል
Comment[ar]=تطبيق توقعات الطقس لأوبونتو مع دعم العديد من مصادر بيانات الطقس على الإنترنت
Comment[ast]=Una aplicación de meteoroloxía pa Ubuntu con sofitu pa múltiples fontes de datos climáticos en llinia
Comment[be]=Праграма для паказу прагнозаў надвор'я ў Ubuntu. Прадугледжаная падтрымка некалькіх крыніц дадзеных пра надвор'е.
Comment[br]=Un arload war Ubuntu evit gouzout petra e vo liv an amzer, hag a gemer e karg meur a vammenn roadennoù meteorologel enlinenn
Comment[bs]=Aplikacija za vremensku prognozu za Ubuntu sa podrškom za više izvora o vremenskim podacima
Comment[ca]=Aplicació de predicció del temps que funciona amb diverses fonts de dades meteorològiques en línia
Comment[cs]=Aplikace předpovědi počasí pro Ubuntu s podporou mnoha online zdrojů
Comment[cy]=Ap tywydd ar gyfer Ubuntu sy'n cefnogi sawl ffynhonnell data tywydd arlein
Comment[de]=Eine Wettervorhersage-App für Ubuntu mit Unterstützung vieler Online-Wetterdatenquellen
Comment[el]=Μια εφαρμογή πρόβλεψης καιρού για το Ubuntu με υποστήριξη πολλαπλών διαδικτυακών πηγών μετεορολογικών δεδομένων
Comment[en_AU]=A weather forecast application for Ubuntu with support for multiple online weather data sources
Comment[en_GB]=A weather forecast application for Ubuntu with support for multiple online weather data sources
Comment[es]=Una aplicación de meteorología para Ubuntu compatible con múltiples fuentes de datos climáticos en línea
Comment[fa]=یک برنامه‌ی پیش‌بینی آب‌وهوا برای اوبونتو که از چند منبع داده‌ی آب‌وهوایی پشتیبانی می‌کند
Comment[fi]=Useita eri tietolähteitä tukeva sääennustesovellus Ubuntulle
Comment[fo]=Eitt veðurvánaforrit til Ubuntu, við stuðul fyri fleiri verðurdátakeldur á alnetinum
Comment[fr]=Une application de prévisions météo pour Ubuntu avec prise en charge de plusieurs sources de données météorologiques en ligne
Comment[fr_CA]=Une application de prévisions météo pour Ubuntu offrant la prise en charge de plusieurs sources en ligne de données météo
Comment[gd]=Aplacaid airson Ubuntu gus ro-aithris air an t-sìde a thoirt dhut o iomadh tùs dàta air loidhne
Comment[gl]=Previsión meteorolóxica para Ubuntu con compatibilidade para múltiples orixes de datos en liña
Comment[he]=יישום תחזית מזג אוויר לאובונטו עם תמיכה במגוון מקורות נתונים
Comment[hr]=Prognoza vremena za Ubuntu s podrškom za višestruke izvore podataka
Comment[hu]=Időjárás-előrejelzés alkalmazás Ubuntuhoz, mely több forrásból gyűjt adatokat
Comment[it]=Una applicazione per le previsioni meteo di Ubuntu con il supporto a diversi servizi meteorologici online
Comment[ja]=複数のオンライン気象データに対応したUbuntu用天気予報アプリ
Comment[ko]=우분투를 위한 온라인 날씨 예보 애플리케이션
Comment[lv]=Laika prognožu lietotne Ubuntu videi, kas atbalsta vairākus tiešsaistes laikapstākļu datu avotus
Comment[my]=Onlineမှများစွာ​သော မိုး​လေဝသ အချက်​အလက်​ များဖြင်​့​ထောက်​ပံ့​ပေးထားသည်​့ Ubuntuအတွက်​ မိုး​လေဝသခန်​့မှန်​းသည်​့application
Comment[nb]=Et værmeldingsprogram for Ubuntu med mulighet for å lese værdata fra flere kilder på nett
Comment[nl]=Een weersverwachtingsapp voor Ubuntu met ondersteuning voor meerdere online weersinformatiebronnen
Comment[pl]=Aplikacja prognozy pogody dla Ubuntu z obsługą wielu internetowych danych pogodowych
Comment[pt]=Uma app de meteorologia para o Ubuntu com suporte múltiplo a fontes online
Comment[ro]=O aplicație Ubuntu pentru prognoza vremii care funcționează cu mai multe surse de date online pentru vreme
Comment[ru]=Приложение для Ubuntu, предоставляющее данные о погоде из нескольких интерактивных источников.
Comment[sk]=Aplikácia na predpoveď počasia pre Ubuntu s podporou viacerých online zdrojov počasia
Comment[sl]=Program vremenske napovedi za Ubuntu s podporo večim spletnim virom z vremenskimi podatki
Comment[sr]=Програм за временску прогнозу за Убунту са подршком за више извора података о времену са интернета
Comment[sv]=Ett Ubuntuprogram för väderprognoser med stöd för flera väderdatakällor på nätet
Comment[tr]=Birçok çevrimiçi hava durumu veri kaynağı destekli Ubuntu için hava tahmini uygulaması
Comment[ug]=توردىكى نۇرغۇن ھاۋارايى مەنبەلىرىنى قوللايدىغان ئۇبۇنتۇنىڭ ھاۋارايىدىن ئالدىن  مەلۇمات بېرىش پروگراممىسى
Comment[uk]=Програма для показу прогнозів погоди в Ubuntu. Передбачено підтримку декількох джерел даних щодо погоди.
Comment[uz]=Ubuntu uchun k'op sonli onlayn ma'lumot manbalarini qo'llab quvvatlovchi ob-havo bashorati dasturi
Comment[vi]=Phần mềm dự báo thời tiết cho Ubuntu có hỗ trợ nhiều nguồn số liệu về thời tiết trực tuyến
Comment[zh_CN]=一款支持多个在线数据源的 Ubuntu 版天气预报应用
Comment[zh_TW]=Ubuntu 的天氣預測桯式，支援多個天氣資料提供者
Keywords=weather;forecast;twc;openweathermap;the weather channel;
Keywords[am]=የ አየር ንብረት: ግምት: twc;openweathermap የ አየር ንብረት ጣቢያ:
Keywords[ar]=طقس;الطقس;توقعات;
Keywords[ast]=meteoroloxía;pronósticu;twc;openweathermap;the weather channel;
Keywords[be]=надвор'е;прагноз;weather;forecast;twc;openweathermap;the weather channel;
Keywords[br]=amzer;rakwelet;twc;openweathermap;chadenn an amzer;
Keywords[bs]=vrijeme;prognoza;twc;openweathermap;the weather channel;
Keywords[ca]=el temps;predicció;meteorologia;openweathermap;the weather channel;twc;
Keywords[cs]=počasí;předpověď;twc;openweathermat;the weather channel;
Keywords[cy]=tywydd;rhagolwg;twc;openweathermap;the weather channel;
Keywords[de]=Wetter;Vorhersage;openweathermap;the weather channel;
Keywords[el]=καιρός;μετεωρολογία;δελτίο καιρού;πρόγνωση;
Keywords[en_AU]=weather;forecast;twc;openweathermap;the weather channel;
Keywords[en_GB]=weather;forecast;twc;openweathermap;the weather channel;
Keywords[es]=clima;meteo;pronóstico;twc;openweathermap;the weather channel;
Keywords[fa]=آب‌وهوا;پیش‌بینی;twc;openweathermap;کانال آب‌وهوا;
Keywords[fi]=weather;forecast;twc;openweathermap;the weather channel;sää;ennuste;
Keywords[fo]=veður;forsøgn;twc;opnaveðurforrit;veðurrásin
Keywords[fr]=météo;temps;prévisions;twc;openweathermap;the weather channel;
Keywords[fr_CA]=météo;temps;prévisions;twc;openweathermap;the weather channel;
Keywords[gd]=weather;forecast;twc;openweathermap;the weather channel;sìde;aimsir;ro-aithris
Keywords[gl]=tempo;clima;weather channel;previsión;prognóstico;openweathermap;
Keywords[he]=מזג אוויר;תחזית;ערוץ מזג האוויר;מזג אוויר פתוח;
Keywords[hr]=weather;forecast;twc;openweathermap;the weather channel;
Keywords[hu]=időjárás;előrejelzés;twc;openweathermap;the weather channel;
Keywords[it]=meteo;previsioni;the weather channel;openweathermap;
Keywords[ja]=weather;forecast;twc;openweathermap;the weather channel;天気;天気予報;ウェザーチャンネル;
Keywords[ko]=날씨;예보;기온;강우
Keywords[lv]=laiks;laikapstākļi;prognozes;twc;openweathermap;laikapstākļu kanāls;
Keywords[my]=မိုး​လေဝသ;ခန်​့မှန်​းချက်​;twc;မိုး​လေဝသဆိုင်​ရာ​မြေပုံကိုဖွင်​့;မိုး​လေဝသ channel;
Keywords[nb]=vær;værmelding;openweathermap;the weather channel;
Keywords[nl]=weather;forecast;twc;openweathermap;the weather channel;weer;weersverwachting;weerkanaal;
Keywords[oc]=metèo;temps;previsions;twc;openweathermap;the weather channel;
Keywords[pl]=pogoda;prognoza;twc;openweathermap;kanał z prognozą pogody;
Keywords[pt]=meteorologia;previsão;twc;openweathermap;o canal do tempo;
Keywords[ro]=vremea;prognoză;twc;openweathermap;the weather channel;
Keywords[ru]=погода;прогноз;twc;КартаПогоды;метеослужба;
Keywords[sk]=počasie;predpoveď;twc;otvoriťmapupočasia;the weather channel;
Keywords[sl]=vreme;napoved;openweathermap;vremenski kanal;
Keywords[sr]=време;прогноза;временске прилике;twc;openweathermap;weather channel;
Keywords[sv]=väder;prognos;twc;openweathermap;the weather channel;
Keywords[tr]=hava durumu;tahmin;twc;openweathermap;the weather channel;
Keywords[ug]=ھاۋارايى;ئالدىن مەلۇمات;twc;openweathermap;ھاۋارايى قانىلى;
Keywords[uk]=погода;прогноз;weather;forecast;twc;openweathermap;the weather channel;
Keywords[uz]=ob-havo;bashorat;twc;openweathermap;the weather channel;
Keywords[vi]=thời tiết; dự báo;twc;openweathermap;the weather channel;
Keywords[zh_CN]=天气;预报;twc;开源气象服务;天气频道;
Keywords[zh_TW]=weather;forecast;twc;openweathermap;the weather channel;天氣;預測;
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Splash-Color=#F5F5F5
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Supported-Orientations=portrait
